<div style="padding: 2rem;">
    <table mat-table class="mat-elevation-z8" style="padding: 4rem; background-color: white;">
        <thead>
            <tr>
                <th>Login</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <button mat-raised-button color="blue" (click)="login()">Login</button>
                </td>
                <td>
                    <button mat-raised-button color="blue" (click)="loginAdmin()">Admin Login</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
