<div style="padding: 2rem;">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" mat-table class="mat-elevation-z8" style="padding: 4rem; width: 30%; background-color: white;">
        <h1>Edit Employee</h1>
        <table>
            <tr>
                <th style="width: 25%"></th>
                <th style="width: 75%"></th>
            </tr>
            <input type="hidden" id="id" name="id" formControlName="id">
            <tr>
                <td><label for="first">First Name</label></td>
                <td><input type="text" id="first" name="first" formControlName="first"></td>
                <td *ngIf="!myForm.get('first')?.valid && myForm.get('first')?.touched" class="text-danger">First Name is Required!</td>
            </tr>
            <tr>
                <td><label for="last">Last Name</label></td>
                <td><input type="text" name="last" formControlName="last"></td>
                <td *ngIf="!myForm.get('last')?.valid && myForm.get('last')?.touched" class="text-danger">Last Name is Required!</td>
            </tr>
            <tr>
                <td><label for="salary">Salary</label></td>
                <td><input type="text" name="salary" formControlName="salary"></td>
                <td *ngIf="myForm.get('salary')?.errors?.required && myForm.get('salary')?.touched" class="text-danger">Salary is Required!</td>
                <td *ngIf="myForm.get('salary')?.errors?.min && myForm.get('salary')?.touched" class="text-danger">Salary must be greater than 10000!</td>
            </tr>
            <tr>
                <td><label for="department">Department</label></td>
                <td><input type="text" name="department" formControlName="department"></td>
                <td *ngIf="!myForm.get('department')?.valid && myForm.get('department')?.touched" class="text-danger">Department is Required!</td>
            </tr>
            <tr>
                <td><button type="submit" mat-raised-button color="blue">Submit</button></td>
            </tr>
        </table>
    </form>
</div>

